@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url('/public/Lausanne-300.woff2') format('woff2');
}

@font-face {
    font-family: font2;
    src: url('/public/Lausanne-500.woff2') format('woff2');
}

body{
    overflow-x: hidden;
}

.movelink{
    opacity: 0;
}

.link:hover .movelink{
    opacity: 1;
    transition: all ease 0.5s;
}


.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}